@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

#html-body {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 500;

  --bg-image: url("http://scp-jp-storage.wdfiles.com/local--files/file%3A4137401-40-jp7c/bg.png");
  --main-visual-image: url("http://scp-jp-storage.wdfiles.com/local--files/file%3A4137401-31-juth/main_visual.png");
  --time-image: url("https://scp-jp-storage.wdfiles.com/local--files/file%3A4137401-43-uku5/%E6%94%BE%E9%80%81%E6%99%82%E9%96%93.png");
  --story-1-image: url("http://scp-jp-storage.wdfiles.com/local--files/file%3A4137401-36-h896/story-1.png");
  --story-2-image: url("http://scp-jp-storage.wdfiles.com/local--files/file%3A4137401-37-2ek9/story-2.png");
  --story-3-image: url("http://scp-jp-storage.wdfiles.com/local--files/file%3A4137401-38-f992/story-3.png");
  --story-4-image: url("http://scp-jp-storage.wdfiles.com/local--files/file%3A4137401-39-5tvh/story-4.png");

  --able-normal-image: url("http://scp-jp-storage.wdfiles.com/local--files/file%3A4137401-26-mskh/able_normal.png");
  --able-special-image: url("http://scp-jp-storage.wdfiles.com/local--files/file%3A4137401-27-r9ie/able_special.png");
  --cain-normal-image: url("http://scp-jp-storage.wdfiles.com/local--files/file%3A4137401-28-tr7t/cain_normal.png");
  --cain-special-image: url("http://scp-jp-storage.wdfiles.com/local--files/file%3A4137401-29-ipb8/cain_special.png");
  --kpc-image: url("http://scp-jp-storage.wdfiles.com/local--files/file%3A4137401-30-q3n5/kpc.png");

  --able-movie-image: url("http://scp-jp-storage.wdfiles.com/local--files/file%3A4137401-33-u2g9/movie_able.png");
  --cain-movie-image: url("http://scp-jp-storage.wdfiles.com/local--files/file%3A4137401-34-4qxu/movie_cain.png");
  --play-movie-image: url("http://scp-jp-storage.wdfiles.com/local--files/file%3A4137401-35-p7ej/movie_play.png");

  --subimage-height: 150px;

  #extra-div-1 {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    background-image: var(--bg-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #container-wrap {
    background: none;
  }

  #header {
    background: none;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    height: unset;
    width: 100%;

    #login-status {
      color: white;
      font-size: 1.2em;

      > a {
        color: white;
      }
    }

    h1, h2 {
      display: none;
    }

    #search-top-box {
      display: none;
    }

    #top-bar {
      display: none;
    }
  }

  #content-wrap {
    margin: 0;
    max-width: 100vw;
    min-height: 100vh;

    #side-bar {
      display: none;
    }

    #page-title {
      display: none;
    }

    #main-content {
      margin: 0;
      padding: 0;
      max-width: 100%;
      overflow: hidden;

      * {
        box-sizing: border-box;
      }
    }
  }

  .first-view {
    width: 100vw;
    height: 85vh;
    background-image: var(--main-visual-image);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: calc(5rem + var(--subimage-height));

    @media screen and (max-width: 768px) {
      height: 70vh;
      background-size: auto 95%;
    }

    @media screen and (max-width: 425px) {
      height: 60vh;
      background-size: auto 80%;
    }

    position: relative;

    &-subimage {
      width: 90vw;
      max-width: 650px;
      position: absolute;
      top: 95%;
      left: 50%;
      transform: translateX(-50%);

      img {
        width: 100%;
        height: 100%;
      }
    }

    .page-rate-widget-box {
      position: absolute;
      bottom: calc(-50px - var(--subimage-height));
      left: 50%;
      transform: translateX(-50%);

      background: var(--bg-image);
      background-size: cover;
      background-position: top left;
      display: flex;

      border: solid 0.5px rgba(255, 255, 255, 1);
      filter: drop-shadow(2px 2px 10px rgba(255, 255, 255, 1));

      .rate-points,
      .rate-points a,
      .rateup,
      .rateup a,
      .ratedown,
      .ratedown a,
      .cancel,
      .cancel a {
        background: transparent;
        border: none;
        display: inline-block;
        margin: 0;
        padding: 0;
      }

      .rate-points {
        color: white;
        font-size: 1.25em;
        line-height: 1.75rem;
        font-weight: 700;
        padding: 0.25rem 1rem;
        height: 100%;
        display: inline-block;
        white-space: nowrap;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
      }

      .rateup,
      .ratedown,
      .cancel {
        display: flex;
        align-items: stretch;
        white-space: nowrap;

        a {
          padding: 0.25rem 1rem;
          color: white;
          font-weight: 700;
          font-size: 0.85rem;
          line-height: 1.75rem;

          transition: background-color 0.25s;
          text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
        }
      }

      .rateup {
        a {
          background: rgba(216, 31, 34, 0.15);

          &:hover {
            background: rgba(216, 31, 34, 0.5);
          }
        }
      }

      .ratedown {
        a {
          background: rgba(84, 199, 246, 0.15);

          &:hover {
            background: rgba(84, 199, 246, 0.75);
          }
        }
      }

      .cancel {
        a {
          background: rgba(211, 245, 142, 0.15);

          &:hover {
            background: rgba(211, 245, 142, 0.5);
          }
        }
      }

    }

    &-logo {
      width: 70vw;
      max-width: 500px !important;

      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      bottom: 30px;

      &-img {
        filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.9));
      }
    }
  }

  .story {
    width: 100vw;
    margin: 1rem auto;
    padding: 5rem 1rem;
    background: rgb(244, 241, 223);
    background: linear-gradient(0deg, rgba(244, 241, 223, 0) 0%, rgba(244, 241, 223, 1) 10%, rgba(244, 241, 223, 1) 90%, rgba(244, 241, 223, 0) 100%);

    &-heading {
      margin-top: 2rem;
      text-align: center;
      font-size: 3rem;
      font-weight: 900;
    }

    &-display {
      width: 100%;
      max-width: 720px;
      margin: 2rem auto;
      height: 55vw;
      max-height: 405px;
      background-image: var(--story-1-image);
      transition: background-image 0.5s;
      background-size: contain;
    }

    #u-story-display-1:target ~ .story-display {
      background-image: var(--story-1-image);
    }

    #u-story-display-2:target ~ .story-display {
      background-image: var(--story-2-image);
    }

    #u-story-display-3:target ~ .story-display {
      background-image: var(--story-3-image);
    }

    #u-story-display-4:target ~ .story-display {
      background-image: var(--story-4-image);
    }

    &-selector {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 720px;
      margin: 1rem auto;
      gap: 0.25rem;

      &-item {
        border-radius: 50%;
        cursor: pointer;
        flex: 1 1 0;

        &.selected {
          background-color: #f4f1df;
          box-shadow: 0 0 10px 5px #f4f1df;
        }
      }
    }

    &-caption {
      margin: 2rem auto;
      text-align: center;
      font-size: 1.25em;
      font-weight: 700;
      line-height: 2;
    }
  }

  .character {
    width: 100vw;
    margin: 1rem auto 1rem auto;
    padding: 3rem 1rem;

    @media screen and (min-width: 769px) {
      margin-bottom: 10rem;
    }

    &-heading {
      text-align: center;
      font-size: 3rem;
      font-weight: 900;
    }

    &-wrapper {
      position: relative;

      .character-image {
        width: 100%;
        max-width: 720px;
        margin: 2rem auto;
        height: 90vw;
        min-height: 500px;
        max-height: 800px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: var(--cain-normal-image);
        transition: background-image 0.5s;
        position: relative;

        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -55%);
          width: 100vw;
          height: 125%;
          background: radial-gradient(closest-side, rgb(255, 127, 163) 10%, rgba(255, 255, 255, 0) 100%);
          z-index: -1;
          transition: background 0.5s;
        }
      }

      #u-character-able:target ~ .character-image,
      #u-character-able-normal:target ~ .character-image, {
        background-image: var(--able-normal-image);

        &::before {
          background: radial-gradient(closest-side, rgb(255, 127, 163) 10%, rgba(255, 255, 255, 0) 100%);
        }
      }

      #u-character-able-special:target ~ .character-image {
        background-image: var(--able-special-image);

        &::before {
          background: radial-gradient(closest-side, rgb(255, 127, 163) 10%, rgba(255, 255, 255, 0) 100%);
        }
      }

      #u-character-cain:target ~ .character-image,
      #u-character-cain-normal:target ~ .character-image, {
        background-image: var(--cain-normal-image);

        &::before {
          background: radial-gradient(closest-side, rgb(130, 224, 248) 10%, rgba(255, 255, 255, 0) 100%);
        }
      }

      #u-character-cain-special:target ~ .character-image {
        background-image: var(--cain-special-image);

        &::before {
          background: radial-gradient(closest-side, rgb(130, 224, 248) 10%, rgba(255, 255, 255, 0) 100%);
        }
      }

      #u-character-kpc:target ~ .character-image {
        background-image: var(--kpc-image);

        &::before {
          background: radial-gradient(closest-side, rgb(246, 216, 98) 10%, rgba(255, 255, 255, 0) 100%);
        }
      }

      .character-switcher {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        max-width: 720px;
        margin: 1rem auto;
        gap: 1.5rem;

        .character-switcher-item {
          width: 100px;
          height: 100px;
          border: solid 4px;
          border-radius: 50%;
          cursor: pointer;
          flex: 0 0 100px;
          background-position: top center;
          background-size: 375px auto;
          background-repeat: no-repeat;

          &.able {
            background-image: var(--able-normal-image);
            border-color: #f6aea3;
            background-color: rgba(246, 174, 163, 0.5);
          }

          &.cain {
            background-image: var(--cain-normal-image);
            border-color: #97f1d8;
            background-color: rgba(151, 241, 216, 0.5);
          }

          &.kpc {
            background-image: var(--kpc-image);
            background-size: 150px auto;
            border-color: #d3f58e;
            background-color: rgba(211, 245, 142, 0.5);
          }
        }
      }

      .character-image-selector {
        text-align: center;

        @media screen and (min-width: 769px) {
          position: absolute;
          bottom: 2%;
          left: 75%;
        }

        &-item {
          display: none;
          opacity: 0;
          transition: opacity 0.5s, filter 0.25s;
          padding: 1rem 2rem;
          border-radius: 50%;
          border: solid 3px;

          color: white;
          font-weight: 700;
          text-decoration: none;

          width: 150px;
          height: 150px;

          position: relative;

          background-position: top center;
          background-size: 500px auto;
          background-repeat: no-repeat;

          &.able {
            border-color: #f6aea3;
            background-color: rgba(246, 174, 163, 0.5);

            &::after {
              border-color: #f6aea3;
              background-color: #f6aea3;
            }

            &.normal {
              background-image: var(--able-normal-image);
            }

            &.special {
              background-image: var(--able-special-image);
            }
          }

          &.cain {
            border-color: #97f1d8;
            background-color: rgba(151, 241, 216, 0.5);


            &::after {
              border-color: #97f1d8;
              background-color: #97f1d8;
            }

            &.normal {
              background-image: var(--cain-normal-image);
            }

            &.special {
              background-image: var(--cain-special-image);
            }
          }

          &.kpc {
            border-color: #d3f58e;
            background-color: rgba(211, 245, 142, 0.5);

            &::after {
              border-color: #d3f58e;
              background-color: #d3f58e;
            }
          }

          &:hover {
            filter: brightness(1.2);
          }

          &::after {
            content: "ほかのすがた";
            display: block;
            width: 100%;
            font-size: 1.6em;
            position: absolute;
            bottom: -13px;
            left: 50%;
            transform: translateX(-50%);
            padding: 0.25rem;
            border: solid 3px;
            border-radius: 0.5rem;
          }

          &.cain.special {
            display: inline-block;
            opacity: 1;
          }
        }
      }

      #u-character-able:target ~ .character-image-footer .character-image-selector,
      #u-character-able-normal:target ~ .character-image-footer .character-image-selector {
        .character-image-selector-item.able.special, {
          display: inline-block;
          opacity: 1;
        }

        .character-image-selector-item.able.normal,
        .character-image-selector-item.cain.normal,
        .character-image-selector-item.cain.special,
        .character-image-selector-item.kpc {
          display: none;
          opacity: 0;
        }
      }

      #u-character-able-special:target ~ .character-image-footer .character-image-selector {
        .character-image-selector-item.able.normal, {
          display: inline-block;
          opacity: 1;
        }

        .character-image-selector-item.able.special,
        .character-image-selector-item.cain.normal,
        .character-image-selector-item.cain.special,
        .character-image-selector-item.kpc {
          display: none;
          opacity: 0;
        }
      }

      #u-character-cain:target ~ .character-image-footer .character-image-selector,
      #u-character-cain-normal:target ~ .character-image-footer .character-image-selector {
        .character-image-selector-item.cain.special, {
          display: inline-block;
          opacity: 1;
        }

        .character-image-selector-item.able.normal,
        .character-image-selector-item.able.special,
        .character-image-selector-item.cain.normal,
        .character-image-selector-item.kpc {
          display: none;
          opacity: 0;
        }
      }

      #u-character-cain-special:target ~ .character-image-footer .character-image-selector {
        .character-image-selector-item.cain.normal, {
          display: inline-block;
          opacity: 1;
        }

        .character-image-selector-item.able.normal,
        .character-image-selector-item.able.special,
        .character-image-selector-item.cain.special,
        .character-image-selector-item.kpc {
          display: none;
          opacity: 0;
        }
      }

      #u-character-kpc:target ~ .character-image-footer .character-image-selector {
        .character-image-selector-item.able.normal,
        .character-image-selector-item.able.special,
        .character-image-selector-item.cain.normal,
        .character-image-selector-item.cain.special,
        .character-image-selector-item.kpc {
          display: none;
          opacity: 0;
        }
      }

      .character-image-footer {
        .character-movie {
          display: block;
          background-size: 100%;
          background-position: center;
          background-repeat: no-repeat;
          transition: background-image 0.25s, background-size 0.25s, filter 0.25s;

          border: solid 4px rgb(177, 144, 187);
          border-radius: 0.5rem;

          &:hover {
            background-size: 105%;
            filter: brightness(1.2);
          }

          img {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 4;
            filter: drop-shadow(0 0 4px rgb(162, 104, 214));
          }

          @media screen and (min-width: 769px) {
            width: 32vw;
            max-width: 400px;
            height: 18vw;
            max-height: 225px;
            position: absolute;
            z-index: 2;
            bottom: 1%;
            right: 65%;
          }

          @media screen and (max-width: 768px) {
            position: relative;
            width: 88vw;
            height: 49.5vw;
            margin: 1rem auto;

            img {
              width: 20vw;
              height: 20vw;
            }
          }
        }
      }

      #u-character-able:target ~ .character-image-footer .character-movie,
      #u-character-able-normal:target ~ .character-image-footer .character-movie,
      #u-character-able-special:target ~ .character-image-footer .character-movie {
        background-image: var(--able-movie-image);
      }

      .character-image-footer .character-movie,
      #u-character-cain:target ~ .character-image-footer .character-movie,
      #u-character-cain-normal:target ~ .character-image-footer .character-movie,
      #u-character-cain-special:target ~ .character-image-footer .character-movie {
        background-image: var(--cain-movie-image);
      }

      #u-character-kpc:target ~ .character-image-footer .character-movie {
        opacity: 0;
        display: none;
      }

      .character-image-footer .character-image-caption {
        text-align: center;
        font-size: 1.25em;
        font-weight: 700;
        margin: 1rem auto;
        width: 90vw;

        display: none;

        @media screen and (min-width: 769px) {
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
        }

        @media screen and (max-width: 768px) {
          position: relative;
        }

        &-heading {
          font-size: 1.5em;
          font-weight: 900;

          a {
            font-size: 0.75em;
          }
        }
      }


      #u-character-able:target ~ .character-image-footer,
      #u-character-able-normal:target ~ .character-image-footer,
      #u-character-able-special:target ~ .character-image-footer {
        .character-image-caption.able {
          display: block;
        }

        .character-image-caption.cain {
          display: none;
        }

        .character-image-caption.kpc {
          display: none;
        }
      }

      .character-image-footer,
      #u-character-cain:target ~ .character-image-footer,
      #u-character-cain-normal:target ~ .character-image-footer,
      #u-character-cain-special:target ~ .character-image-footer {
        .character-image-caption.able {
          display: none;
        }

        .character-image-caption.cain {
          display: block;
        }

        .character-image-caption.kpc {
          display: none;
        }
      }

      #u-character-kpc:target ~ .character-image-footer {
        .character-image-caption.able {
          display: none;
        }

        .character-image-caption.cain {
          display: none;
        }

        .character-image-caption.kpc {
          display: block;
        }
      }
    }
  }

  .banner-area {
    margin: 8rem auto;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    width: 90vw;
  }

}

#footer, #license-area {
  background-color: transparent;
  color: #444;

  a {
    color: #444;
  }
}